---
layout: default
stylesheet:
class: page__index

title: Home Page
permalink:
meta:
  keywords:
    - "Alternative weddings"
    - "cross cultural weddings"
    - "wedding planning"
    - "quirky weddings"
    - "unique weddings"
    - "wedding masterclasses"
    - "expert wedding organisers"
    - "on the day wedding coordination"
    - "traditional weddings"
    - "Nigerian weddings"
    - "Jamaican weddings"
    - "African weddings"
    - "Caribbean weddings"
    - "mixed race weddings"
  description:
  author:

hero:
  image: index
  copy: "Get In Touch Today"
  link: /contact/

sitemap:
  lastmod: 2015-01-29
  priority: 0.5
  changefreq: monthly
  exclude:
---
<div class="wrapper__sub">

  <header class="ss1-ss4 ls1-ls12">
    <h1 class="giga">Alternative. Showstopping. Expert. Trustworthy.</h1>
  </header>

  {% if site.services %}
    {% for service in site.services %}
<section class="ss1-ss4 ls1-ls12 separator box__large">

    <header class="ss1-ss4 ls1-ls4">
      <h2 class="no-margin"><img class="image__responsive" src="/static/gui/{{ service.image }}" alt="{{ service.title }}"></h2>
    </header>

    <article class="ss1-ss4 ls5-ls12">
      <p><strong class="alpha">{{ service.heading }}</strong></p>
      {{ service.content }}
      <a href="{{ service.button.link }}" class="btn btn--primary btn--large">{{ service.button.text }}</a>
    </article>

  </section>

    {% endfor %}
  {% endif %}

</div>
