<aside class="wrapper social box">

  <section class="wrapper__sub">

  <h3 class="ss1-ss4">Follow us on social:</h3>

    <ul class="list list__social ss1-ss4">
      <li class="facebook"><a href="#"><i class="icon sprite__social sprite__social--facebook"></i>/TheAlternativeWeddingGroup</a></li>
      <li class="instagram"><a href="#"><i class="icon sprite__social sprite__social--instagram"></i>The Alternative Wedding Group</a></li>
      <li class="twitter"><a href="#"><i class="icon sprite__social sprite__social--twitter"></i>@altweddinggroup</a></li>
      <li class="wordpress"><a href="#"><i class="icon sprite__social sprite__social--wordpress"></i>thealternativeweddinggroup.wordpress.com</a></li>
    </ul>

  </section>

</aside>

<footer class="wrapper footer__main box">

  <div>
    <span class="footer__strip"></span>
    <small class="copyright">Copyright &copy; The Alternative Wedding Group. All rights reserved.</small>

  </div>

</footer>
