<aside class="wrapper social box">

  <section class="wrapper__sub">

  <h3 class="ss1-ss4">Follow us on social:</h3>

    {% if site.data.social %}
    <ul class="list list__social ss1-ss4">
      {% for social in site.data.social %}
      <li class="{{ social.type }}"><a class="outbound link" target="_blank" href="{{ social.url }}"><i class="icon sprite__social sprite__social--{{ social.type }}"></i>{{ social.name }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>

</aside>

<footer class="wrapper footer__main box">

  <div>
    <span class="footer__strip"></span>
    <small class="copyright">Copyright &copy; The Alternative Wedding Group. All rights reserved.</small>

  </div>

</footer>
