/**
 * Buttons
 */

.btn {
  border-radius: 7.25px;
  font-family: $heading__font-family;
  color: $brand--white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
//  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

  .btn:active,
  .btn:link,
  .btn:visited {
    color: $brand--white;
  }

.btn--primary {
  background: $brand--gold; /* Old browsers */
}

  .btn--primary:active,
  .btn--primary:link,
  .btn--primary:visited {
    color: $brand--white;
  }

.btn--large {
  width: 50%;
  font-size: 1.375rem;
  line-height: 2rem;
}

.btn--full {
  width: 100%;
}
