/**
 * Typography
 */

.heading {
  border-radius: 2px;
  margin-bottom: 2em;
}

.heading img {
  border-radius: 2px;
}

@media screen and (min-width: 481px){
  .heading img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.heading--about {
  background-image: url('/static/gui/heading_image_about.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;
}

  .heading--about img {
    background-color: $brand--purple;

  }

.heading--testimonial {
  background-image: url('/static/gui/heading_image_testimonial.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;
}

  .heading--testimonial img {
    background-color: $brand--gold;
  }

/**
 * Services Headings
 */

.wedding-planning {
  display: block;
  padding: 0.5rem 1rem;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: $brand--purple;
}

.strip--wedding-planning {
  width: 100%;
  height: 0.75rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background: $brand--purple;
}

.wedding-coordination {
  display: block;
  padding: 0.5rem 1rem;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: $brand--gold;
}

.strip--wedding-coordination {
  width: 100%;
  height: 0.75rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background: $brand--gold;
}

.wedding-masterclasses {
  display: block;
  padding: 0.5rem 1rem;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: $brand--purple;
}

.strip--wedding-masterclasses {
  width: 100%;
  height: 0.75rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background: $brand--purple;
}
